<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>sailing.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B522BFCF1EFF69E800448D25</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B522BFE91EFF69E800448D25</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B522BFF41EFF69E900448D25</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
